* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

header,
footer {
    background-color: #1F2937;
    color: #F9FAF8;
    flex: 0 0 10%
}

.section-three {
    background-color: #e5e7eb;
}

/* Barra de navegación */
header {
    background-color: #1F2937;
    color: #F9FAF8;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-nav {
    font-size: 24px;
}

.right-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

.right-nav a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main > section {
    flex: 1;
}

.section-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-color: #1F2937;
}

.section-one button {
    background-color: #3B82F6;
    color: #F9FAF8;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50px;
}

.section-one-left,
.section-one-right {
    flex: 1;
}

.section-one-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: #F9FAF8;
}

.section-one-left h2 {
    font-size: 48px;
}

.section-one-left p {
    font-size: 18px;
}

.section-one-right img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.section-two-noticias {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.section-two-noticias .img {
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.section-two-noticias .img img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.section-two-noticias .img p {
    margin-top: 10px;
    font-size: 18px;
}

.section-two h2 {
    text-align: center
}

.section-two h3 {
    padding-top: 10px;

}