* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

header,
footer {
    background-color: #1F2937;
    color: #F9FAF8;
    flex: 0;
}

.section-three {
    background-color: #e5e7eb;
}

/* Barra de navegación */
header {
    background-color: #1F2937;
    color: #F9FAF8;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.left-nav {
    font-size: 24px;
}

.right-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

.right-nav a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main > section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}

.section-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
    background-color: #1F2937;
    padding: 150px;
    gap: 40px;
    width: 100%;
    box-sizing: border-box;
}

.section-one button {
    background-color: #3B82F6;
    color: #F9FAF8;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px;
    align-self: start;
}

.section-one-right {
    flex: 1;
}

.section-one-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    color: #F9FAF8;
    text-align: left;
}

.section-one-left h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.section-one-left p {
    font-size: 18px;
    margin-bottom: 15px;
}

.section-one-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-one-right img {
    width: 100%;
    max-width: 600px;
    aspect-ratio: 4 / 3;
    border-radius: 15px;
    height: auto;
    object-fit: cover;
    height: auto;
}

.section-two-noticias {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
    padding: 60px;
    box-sizing: border-box;
    overflow: hidden;
}

.section-two-noticias .img {
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.section-two-noticias .img img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.section-two-noticias .img p {
    margin-top: 10px;
    font-size: 18px;
}

.section-two h2 {
    text-align: center;
    font-size: 36px;
    padding-top: 16px;
}

.section-two h3 {
    padding-top: 10px;

}

.section-three {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    font-size: 18px;
    box-sizing: border-box;
}

.section-three .content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}

.section-three p, 
h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.section-four .content-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 8px;
    background-color: #3882f6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    color: #F9FAF8;
}

.section-four .content-box button {
    background-color: #3882f6; 
    color: #F9FAF8; 
    border: 2px solid #F9FAF8; 
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.section-four .content-box button:hover {
    background-color: #F9FAF8; 
    color: #3882f6; 
    border-color: #3882f6; 
}

footer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #1F2937; 
    color: #F9FAF8; 
    padding: 40px; 
    width: 100%; 
    box-sizing: border-box; 
    text-align: center; 
}